@import '/src/theme/index.scss';

.welcome-container {
  width: 100%;
  height: 100%;
  background-color: $color-primary-background;
  position: absolute;

  .logo-container {
    margin-top: 80px;
    background-color: $color-primary-background;
  }

  .start-game-button-container {
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}