@import '/src/theme/index.scss';

.numbers-of-players-container {
  width: 100%;
  height: calc(100vh - 130px);

  .number-of-players-description {
    margin: 30px 30px;
    font-size: 22px;
    font-family: $font-family-primary-medium;
    color: $color-tertiary-background;
    text-shadow: $shadow-inputs;
  }

  .numbers-dropdown-container {
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .numbers-button-container {
    @extend .numbers-dropdown-container;
    width: 50%;
    &.error{
      margin-top: 57px;
    }
  }
.mantine-Select-wrapper{
  .mantine-Input-invalid{
    border-color: $color-warning;
    border-width: 2px;

  }
}
  .mantine-Select-error{
    color: $color-warning;
    font-family: $font-family-primary-bold;
    font-size: 16px;
  }
}