@import '/src/theme/index.scss';
.layout-container{
  background-color: $color-primary-background;
  text-align: center;
  .logo-container {
    width: 100%;
    background-color: $color-primary-background;
    text-align: center;
    min-height: $header-height;
    
    .img-logo {
      width: 100%;
      display: grid;
      place-items: center;
    }
  }
}