@import '/src/theme/index.scss';
.layout-container{
  background-color: $color-primary-background;
  text-align: center;
  padding: 20px;
  height: 100vh;
  
  .nav-container{
    display: flex;
    width: 100%;
    min-height: $header-height;
    align-items: center;
    justify-content: space-between;
    
.nav-bar-left{
  width: 130px;
}

  }
}