/*Primary*/
//FC9B9B 3#FAF9B4
$color-primary-background: #7192AD;
$color-secondary-background: #FC9B9B;
$color-tertiary-background: #F7FCFF;
$color-warning: #ffbf00;
$color-black: #000000;
$color-blue: #001AFF;
/*Gray Scale*/
$color-gray: #b8b8b8;
$color-gray-light: #eeeeee;
$color-border: #878787