/*Primary*/
$color-primary-background: #FC9B9B;
$color-secondary-background: #F61414;
$color-warning: #ffbf00;
$color-black: #000000;

/*Gray Scale*/
$color-gray: #b8b8b8;
$color-gray-light: #eeeeee;
$color-border: #878787