/*Primary*/
//FC9B9B 3#FAF9B4
$color-primary-background: #4ecdc4;
$color-secondary-background: #FF6B6B;
$color-tertiary-background: #F7FCFF;
$color-warning: #ffbf00;
$color-black: #000000;
$color-blue: #001AFF;
$color-background-button:#FFE66D;
$color-text-button: #1A535C;


/*Gray Scale*/
$color-gray: #b8b8b8;
$color-gray-light: #eeeeee;
$color-border: #878787