$font-family-primary-extrabold: 'Jost-extrabold';
$font-family-primary-bold: 'Jost-bold';
$font-family-primary-semibold: 'Jost-semibold';
$font-family-primary-medium: 'Jost-medium';
$font-family-primary-regular: 'Jost-regular';
$font-family-primary-thin: 'Jost-thin';


$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$thin: 200;

$shadow-inputs: 0px 0px 1px 0.5px $color-border;
$shadow-texts: 1px 1px 1px $color-border;
$header-height: 100px;