@import '/src/theme/index.scss';

.radio-group-container {

  .mantine-pbfq37 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    .mantine-Radio-label {
      font-family: $font-family-primary-semibold;
      font-size: 15px;
      line-height: 14px;
    }

  }
}