@import '/src/theme/index.scss';

.button-principal {
  min-height: 45px;
  box-shadow: 0px 0px 5px 1px $color-gray;
  border-radius: 10px;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  box-shadow: $shadow-inputs;
  background-color: $color-background-button;

  span {
    font-family: $font-family-primary-semibold;
    font-size: 22px;
    color: $color-text-button;
  }
}